<div class="row social-news">
  <div class="container container-main color-text-main">
    <h1>Сейчас на березовой</h1>
    <div class="row btn-row">
      <div class="row social-switch">
        <a href="" class="hash-tag subheader-font">#picnic</a>
        <div class="js-switch-social social-buttons pull-right">
          <a href="" class="js-switch-instagramm instagramm-btn social-btn">Instagram</a>
          <a href="" class="js-switch-twitter twitter-btn social-btn">Twitter</a>
        </div>
      </div>
      <div class="js-reload row reload">
        <a href="" class="reload-btn"><span class="reload-img"></span>Обновить</a>
      </div>
    </div>
  </div>
  <div class="row social-row">
    <div class="container social-container">
      <span class="js-arrow-left arrow arrow-left pull-left"></span>
      <div class="content color-text-dark">
        <% for (var i = 0; i < instagrams.length; i++) {
        var item = instagrams[i]; %>
        <div class="js-instagram-item instagram-item item ">
          <h3 class="js-nick nick">@<%= item.username %></h3>
          <div class="js-time-ago time-ago"><%= item.time %></div>
          <a href="<%= item.url %>" class="js-href-post">
            <div class="post-img">
              <div class="overlay"></div>
              <!-- <img src="<%= item.imageUrl %>" alt="" class="js-img-post"> -->
              <img src="<%= item.imageUrl %>" alt="" class="js-img-post">
            </div>
          </a>
          <p class="js-post-text post-text"><%- item.text %></p>
          <a href="<%= item.url %>" class="js-href-post">
              <div class="js-like like">
                <span class="img"></span>
                <span class="js-counter-like counter"><%= item.likesCount %></span>
              </div>
          </a>
          <a href="<%= item.url %>" class="js-href-post">
              <div class="js-comment comment">
                <span class="img"></span>
                <span class="js-counter-comment counter"><%= item.commentsCount %></span>
              </div>
          </a>
        </div>
        <%}%>


        <div class="item">

          <div class="twitter-item">
            <div class="row user">
              <img src="../../images/sample-small.jpg" alt="" class="avatar">
              <div class="nic">@Ferlde</div>
              <div class="date-post">4 June</div>
            </div>
            <div class="row post">
              <div class="row post-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nisi, natus ipsa magnam, illum quas, nam iure dolores distinctio doloribus sunt voluptate provident dolor, debitis consequatur repudiandae. Rem, est iusto.
              <a href="">#cekope</a>
              </div>
              <a href="" class="post-href">gfirik/vrvr</a>
            </div>
              <div class="row post-img">
                <a href="">
                  <img src="../../images/show-photo.png" alt="">
                </a>
              </div>
            <div class="retwitts">
              <span class="img"></span>
              <span class="counter">0</span>
            </div>
            <div class="favorites">
              <span class="img"></span>
              <span class="counter">0</span>
            </div>
            <div class="twitting">
              <span class="img"></span>
            </div>
          </div>


          <div class="twitter-item">
            <div class="row user">
              <img src="../../images/sample-small.jpg" alt="" class="avatar">
              <div class="nic">@Ferlde</div>
              <div class="date-post">4 June</div>
            </div>
            <div class="row post">
              <div class="row post-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex nisi, natus ipsa magnam, illum quas, nam iure dolores distinctio doloribus sunt voluptate provident dolor, debitis consequatur repudiandae. Rem, est iusto.
              <a href="">#cekope</a>
              </div>
              <a href="" class="post-href">gfirik/vrvr</a>
            </div>
              <div class="row post-img">
                <a href="">
                  <img src="../../images/show-photo.png" alt="">
                </a>
              </div>
            <div class="retwitts">
              <span class="img"></span>
              <span class="counter">0</span>
            </div>
            <div class="favorites">
              <span class="img"></span>
              <span class="counter">0</span>
            </div>
            <div class="twitting">
              <span class="img"></span>
            </div>
          </div>



        </div>

      </div> 
      
      <span class="js-arrow-right arrow arrow-right pull-right"></span>
    </div>
  </div>
</div>