<div class="container-fluid header-font main-font-size color-text-light uppercase">
    <%- include partial/promo.ejs %>
    <%- include partial/nav.ejs %>
    <%- include partial/social.ejs %>
    <%- include partial/translation.ejs %>
    <%- include partial/timeline.ejs %>
    <%- include partial/map.ejs %>
    <%- include partial/preview.ejs %>
    <%- include partial/materials.ejs %>
    <%- include partial/footer.ejs %>
</div>